.cartflexxcol {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 95vh;
  margin-top: 10vh;

  overflow-y: auto;
  /* border: 2px solid brown; */
}
.cartitemsflexxcol {
  display: flex;
  flex-direction: column;
  /* border: 2px solid tomato; */
}
.orderflexxrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.iconsuccess {
  margin: 3px 0px;
}
.iconsuccess i {
  color: #a0cd4a;
  font-weight: normal;
  font-size: 250%;
  margin: 5px 0px;
}
.successmessflexxcol {
  display: flex;
  flex-direction: column;
  border: 2px solid wheat;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10vh;
  padding: 10px;
}
.successmessage {
  color: #a0cd4a;
  font-size: 200%;
}
.successbtnflexxrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.btn2vieworder {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  background-color: #524c4c;
  font-size: 20px;
  border: none;
  width: fit-content;
  cursor: pointer;
}
.checkout {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  flex-direction: row;
  padding: 10px;
  /* border: 2px solid red; */
  background-color: #ebebeb;
  border-radius: 10px;
}
.btnfbsuccess {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  /* background-color: #ff3c4b; */
  background-color: #a0cd4a;
  margin: 10px 0px;
  font-size: 20px;
  border: none;
  width: fit-content;
  cursor: pointer;
}
