.compcommentflexxcol {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid yellow;
  opacity: 0.8;
  /* background-color: rgb(226, 223, 218); */
  background-color: white;
  margin: 10px 0px;
}
.ratingcomm {
  background-color: #a0cd4a;
  border-radius: 20%;
  padding: 5px;
  width: fit-content;
  font-size: 12px;

  color: green;
}
.updateflexxcolcomm {
  display: flex;
  flex-direction: column;
}
.commentmess {
  font-weight: 500;
  color: black;
  margin: 5px 0px;
}
.commentorsname {
  color: #524c4c;
  font-size: 13px;
}
.commenttime {
  color: #524c4c;
  font-size: 13px;
}
.ratingcomm i {
  color: green;
  font-size: 10px;
}
.flexxrowcomment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnfbcommentsdel {
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #ff3c4b;
  font-size: 13px;
  border: none;
  width: fit-content;
  cursor: pointer;
  /* margin: 8px 0px; */
}
.btnfbcommentsupd {
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #ff3c4b;
  font-size: 13px;
  border: none;
  width: fit-content;
  cursor: pointer;
  margin: 8px 0px;
}
.btnscommentactionflexxrow {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}
